#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-content {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}

